apiVersion: v1
kind: Namespace
metadata:
  name: chaos-demo
---
# Stable endpoint for Cart to try and reach
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: chaos-demo
spec:
  selector:
    app: payment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
# SCENARIO 1: The OOM CrashLoop
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: chaos-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
      - name: payment-app
        resources:
          requests:
            cpu: "100m"
            memory: "16Mi"
          limits:
            cpu: "200m"
            memory: "32Mi"
        image: busybox
        command: ["/bin/sh", "-c"]
        args: 
          - | 
            echo "Starting Payment Gateway..."
            sleep 5;
            echo "[CRITICAL] java.lang.OutOfMemoryError: Java heap space"
            echo "Dumping heap to java_pid1.hprof..."
            exit 1; # This triggers the CrashLoopBackOff
---
# SCENARIO 2: The Dependent Failure
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: chaos-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
    spec:
      containers:
      - name: cart-app
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "100m"
            memory: "128Mi"
        image: busybox
        command: ["/bin/sh", "-c"]
        args:
          - |
            while true; do
              echo "[INFO] Attempting to validate cart with Payment Service..."
              # Simulating a timeout/connection failure to the payment service
              echo "[ERROR] ConnectException: Connection refused (Connection refused) to http://payment-service:80/v1/auth"
              sleep 5
            done